{% load static %}

 <!--================Header Menu Area =================-->
 <style>
    /* In your CSS file */
.navbar .dropdown-toggle {
    font-size: 0.9rem;
}

.navbar .dropdown-menu {
    font-size: 0.85rem;
}
 </style>
  <header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h"  href="{% url 'index' %}"><img style="max-width: 178px; max-height: 143px;" src="{% static 'img/med-removebg-preview.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <!-- <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'department' %}">Department</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'doctors' %}">Doctors</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'singleblog' %}">Single Blog</a></li> -->

                        <!-- <li class="nav-item dropdown"> -->
                            <!-- <a class="nav-link dropdown-toggle" href="#" id="predictDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Prediction
                            </a>
                            <div class="dropdown-menu" aria-labelledby="predictDropdown"> -->
                                <a class="nav-link dropdown-toggle" href="{% url 'lung_predict' %}">Lung Predict</a>
                                <a class="nav-link dropdown-toggle" href="{% url 'carrie_predict' %}">Carrie Predict</a>
                            <!-- </div> -->
                        <!-- </li> -->

                        <!-- <li class="nav-item dropdown"> -->
                            <!-- <a class="nav-link dropdown-toggle" href="#" id="chatbotDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Chatbot
                            </a>
                            <div class="dropdown-menu" aria-labelledby="chatbotDropdown"> -->
                                <a class="nav-link dropdown-toggle" href="{% url 'sump_chatbot' %}">Sump</a>
                                <a class="nav-link dropdown-toggle" href="{% url 'cnam_chatbot' %}">Cnam</a>
                                <a class="nav-link dropdown-toggle" href="{% url 'vac_chatbot' %}">Vac</a>
                                <a class="nav-link dropdown-toggle" href="{% url 'ord_chatbot' %}">Ord</a>
                                <a class="nav-link dropdown-toggle" href="{% url 'pdf_chatbot' %}">PDF</a>
                            <!-- </div> -->
                        <!-- </li> -->
<!-- 
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'sign_in' %}"><button class="btn btn-outline-primary" type="button">Sign In</button></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'sign_up' %}"><button class="btn btn-primary" type="button">Sign Up</button></a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header> 
<!--================Header Menu Area =================-->