{% load static %}

 <!--================Header Menu Area =================-->
 <style>
    /* In your CSS file */
.navbar .dropdown-toggle {
    font-size: 0.9rem;
}

.navbar .dropdown-menu {
    font-size: 0.85rem;
}
 </style>
 <header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li> 
                        <li class="nav-item"><a class="nav-link" href="{% url 'department' %}">Patient</a></li> 
                        <li class="nav-item"><a class="nav-link" href="{% url 'chatbot' %}">chatbot</a></li> 

                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Improvement</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'sign_in' %}"> <button class="btn btn-primary " type="submit">Logout</button>  </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->